@mixin box-shadow($number, $color) {
  $all: ();
  @for $i from 1 through $number {
      $all: append($all, random(3000) + px random(3000) + px 0 random(15) / 10 + px rgba($color, random(3) / 10), comma);
  }
  box-shadow: $all;
}
@keyframes sky {
  from {
    top: 0px;
  }
  to {
    top: -3000px;
  }
}
